
## Test Results for brogey

### Playwright
- Total tests: 20
- Passed tests: 20

### LightHouse

- Performance score: 57
- Accessibility score: 97
- Best practices score: 100
- SEO score: 90
- Average Lighthouse score: 86
