:root {
    --base-link-color: #000000;
    --primary-color: #00095C;
    --secondary-color: #000;
    --card-color: #fff;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Inter', sans-serif;

    --base-font-size: 1rem;
    --h1-font-size: 4rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
}

body {
    background-image: url(../images/johny-goerend-U_diPCXCBxU-unsplash.jpg);
    font: var(--base-font-size) / 1.6 var(--font-primary);
}

/* Base Element Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    text-transform: capitalize;
}

a {
    font-family: var(--font-secondary);
    color: var(--base-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Layout Styles */
img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.name-card {
    grid-area: name;
}

.headshot-card {
    grid-area: headshot;
}

.bio-card {
    grid-area: bio;
}

.projects-card {
    grid-area: projects;
}

.articles-card {
    grid-area: articles;
}

.socials-card {
    grid-area: socials;
}

.cards {
    display: grid;
    grid-template-areas: 
        'name bio bio bio'
        'headshot bio bio bio'
        'projects projects articles articles'
        'socials socials socials socials';
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}